<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>车险理赔系统员工登录</title>
    <link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/Login/zui.min.css">
    <link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/Login/common.css">
    <link rel="stylesheet" href="__ROOT__/Application/Home/View/public/css/Login/login.css">
    <!--<link rel="stylesheet" href="__ROOT__/Application/Home/View/PublicABC/css/Login/datetimepicker.css">-->
</head>
<style type="text/css">
    .numberBtn {
        font-size: 10px;
        font-size: 10px;
        background: #35b558;
        color: #fff;
        border: 1px solid #35b558;
        outline: 0;
    }

    .numberBtn.disabled {
        background: #f2f2f2;
        color: #333;
        border: 1px solid #f2f2f2;
        cursor: not-allowed;
    }

    #logo122 {
        position: absolute;
        margin-top: 10%;
        width: 150px;
        height: 55px;
        /*margin-right: auto;*/
        margin-left: 45%;
    }

    .passport-header {
        margin-bottom: 30px;
    }
</style>
<body class="body-back">
<header id="header" class="passport-header">
    <!--<div id="logo122">-->
    <!--<a href="{:U('Home/Index/index')}" jktag="0001|0.1|91006">-->
    <!--<img src="__ROOT__/Application/Home/View/public/img/logo2.png" width="220px" height="70px">-->
    <!--</a>-->
    <!--</div>-->
</header>
<div class="login">
    <div class="layout-box" style="border-right: 0px;margin-left: 26%">
        <ul class="nav nav-tabs">
            <li class="login-tittle active" style="width: 100%"><a href="###" data-target="#tab2Content1" data-toggle="tab">车险理赔系统员工登录</a>
            </li>
            <!--<li class="login-tittle width50"><a href="###" data-target="#tab2Content2" data-toggle="tab">管理员登录</a></li>-->
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="tab2Content1">
                <form>
                    <div class="form-group form-group-mar">
                        <div class="input-group width">
                            <input type="text" class="form-control form-type" name="user" id="user"
                                   placeholder="请输入员工编号">
                        </div>
                    </div>
                    <div class="form-group form-group-mar">
                        <div class="input-group width">
                            <input type="password" name="password" class="form-control form-type" id="password"
                                   placeholder="请输入6~21位密码">
                        </div>
                    </div>
                    <!--<div class="form-group form-group-mar">-->
                        <!--<div class="input-group" style="display: inline-block">-->
                            <!--<div style="float: left;">-->
                                <!--<input type="text" name="verify" class="form-control form-type" id="verify"-->
                                       <!--placeholder="验证码">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div style="float: right;width: 137px;display: inline-block;">-->
                            <!--<img id="img2" name="img" width="90%" height="40" style="float: right" alt="验证码"-->
                                 <!--src="{:U('Home/Login/verify',array())}" title="点击刷新" onclick="clickVerify('#img2')">-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <p class="fr a-link" data-toggle="modal" data-position="center" data-target="#open-forgive">
                            </p>
                        <div class="checkbox" style="width: 150px;">
                            <label>
                                <input type="checkbox" checked> 记住密码
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-login btn-lg btn-block form-group-mar" id='login' type="button">登录</button>
                </form>
            </div>
            <!--<div class="tab-pane fade" id="tab2Content2">-->
                <!--<form>-->
                    <!--<div class="form-group form-group-mar">-->
                        <!--<div class="input-group width">-->
                            <!--<input type="text" class="form-control form-type" name="phone" id="new-user"-->
                                   <!--placeholder="请输入手机号">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group form-group-mar">-->
                        <!--<div class="input-group" style="display: inline-block">-->
                            <!--<div style="float: left;">-->
                                <!--<input type="text" name="verify" class="form-control form-type" id="r-verify1"-->
                                       <!--placeholder="验证码">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div style="float: right;width: 137px;display: inline-block;">-->
                            <!--<img id="img3" name="img" width="90%" height="40" style="float: right" alt="验证码"-->
                                 <!--src="{:U('Home/Login/verify',array())}" title="点击刷新" onclick="clickVerify('#img3')">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group form-group-mar">-->
                        <!--<div class="input-group form-mcode width">-->
                            <!--<input type="text" class="form-control form-type " name="code" id="gcode" placeholder="动态码">-->
                            <!--<div class="btn-getcode">-->
                                <!--<button type="button" id="getSmsBtn" class="passport-btn js-getcode numberBtn"-->
                                        <!--jktag="0001|0.1|91024">获取动态码-->
                                <!--</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--&lt;!&ndash;<p class="fr a-link">忘记密码</p>&ndash;&gt;-->
                        <!--<div class="checkbox">-->
                            <!--<label>-->
                                <!--<input type="checkbox" checked> 记住密码-->
                            <!--</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<button class="btn btn-login btn-lg btn-block form-group-mar" id='sign' type="button">登录</button>-->
                <!--</form>-->
            <!--</div>-->
        </div>
    </div>
</div>
<!--跳窗-->
<div class="modal fade" id="open-forgive">
    <div class="modal-dialog modal-dialog-1">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="outline: 0;">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">关闭</span>
                </button>
                <span class="modal-title" style="font-size: 16px;color: #35b558;font-weight: 500;">找回密码</span>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group form-group-mar">
                        <div class="input-group width">
                            <input type="text" class="form-control form-type " name="phone" id="r-phone"
                                   placeholder="请输入手机号">
                        </div>
                    </div>
                    <div class="form-group form-group-mar">
                        <div class="input-group form-mcode width">
                            <input type="text" class="form-control form-type " name="code" id="code" placeholder="动态码">
                            <div class="btn-getcode">
                                <button type="button" id="getSmsId" class="passport-btn js-getcode numberBtn"
                                        jktag="0001|0.1|91024">
                                    获取动态码
                                </button>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-login btn-lg btn-block form-group-mar" data-dismiss="modal" id='register'
                            type="button" data-toggle="modal" data-position="center" data-target="#open-forgive">提交
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--跳窗-->
<div class="modal fade" id="open-dailog-password">
    <div class="modal-dialog modal-dialog-1">
        <div class="modal-content" style="height: 300px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 class="modal-title">修改密码</h4>
            </div>
            <div class="modal-body">
                <div class="bd">
                    <form class="form form-setting">
                        <fieldset>
                            <div class="form-item">
                                <div id="newPwd" style="display: inline-block; margin-bottom: 30px;">
                                    <div class="item-label">
                                        <label>原密码</label>
                                    </div>
                                    <div class="item-cont no-right">
                                        <input class="txt w-sm auth-code" type="password" id="oldpassword" name="pwd1"
                                               placeholder="请输入旧密码">
                                    </div>
                                </div>
                                <div id="oldPwd" style="display: inline-block;">
                                    <div class="item-label">
                                        <label>新密码</label>
                                    </div>
                                    <div class="item-cont no-right">
                                        <input class="txt w-sm auth-code" type="password" id="newpassword" name="pwd2"
                                               placeholder="请输入6~21位新密码">
                                    </div>
                                </div>
                            </div>
                            <div class="form-item">
                                <div class="item-cont">
                                    <input type="button" id="verifyIdBtn2" class="btn green-btn lg" value="确认修改">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='__ROOT__/Application/Home/View/public/js/Login/jquery.1.7.2.min.js'></script>
<script type='text/javascript' src='__ROOT__/Application/Home/View/public/js/Login/zui.min.js'></script>
<script type='text/javascript' src='__ROOT__/Application/Home/View/public/js/Login/login.js'></script>
<script type='text/javascript' src='__ROOT__/Application/Home/View/public/js/layer/layer.js'></script>
<script type='text/javascript' src='__ROOT__/Application/Home/View/public/js/md5/md5.js'></script>
<script type="text/javascript">
    var login_url = "{:U('Home/Login/login','',false)}";
    var home_url = "{:U('Home/Index/index','',false)}";
    function otherLoginTip(){
        layer.msg('小 编 正 在 努 力 , 敬 请 期 待 ...');
        return false;
    }
    $(document).ready(function () {

        //员工登录
        $("#login").on("click", function () {
            var user = $('#user').val();
            var password = $('#password').val();
            if (user == "" || user == null) {
                alertTips('#user', "请输入账号");
                return false;
            }
            if (password == '' || password == null) {
                alertTips("#password", '请输入密码');
                return false;
            }
            password = hex_md5(password);
            layer.load(3, {time: 2000});
            $.ajax({
                url: login_url,
                type: 'post',
                dataType: 'json',
                data: {username: user, phone: '', password: password},
                success: function (result) {
                    if (result.status == 1) {
                        layer.msg(' 正 在 跳 转...');
                        setTimeout(function () {
                            window.location.href = home_url;
                        }, 2000);
                    } else if (result.status == 0) {
                        layer.alert(result.info, {icon: 6});
                    }
                }, error: function () {
                    layer.msg(' 小 编 抢 修 网 络 Ing...', {time: 3000});
                }
            });
        });

        //发送短信动态码(管理员登录)
        $("#getSmsBtn").on('click', function () {
            var phone = $('#new-user').val();
            var verify = $("#r-verify1").val();
            var reg = /^0?1[3|4|5|8][0-9]\d{8}$/;
            if (phone == '' || phone == null) {
                alertTips('#new-user', '请输入手机号');
                return false;
            }
            if (!reg.test(phone)) {
                alertTips('#new-user', '手机号码有误');
                return false;
            }
            if (verify == '' || verify == null) {
                alertTips('#r-verify1', '请输入验证码');
                return false;
            }
            if(verify != ''){
                verifyCode(verify,"#verify1","#img3")
            }
            if (phone != '' && verify != '') {
                sendSms(phone, 'admin');
                countDown(this, 'getSmsBtn');
            }
        });

        //提示统一接口
        function alertTips(id, info) {
            var erorr = '<div class="passport-note passport-error-text"><span>' + info + '</span></div>';
            $(id).parent().addClass("has-error");
            $(id).after(erorr);
        }

        //发送动态码统一接口
        function sendSms(phone, tag) {
            if (phone != '' && phone != null) {
                $.ajax({
                    url: getSms_url,
                    type: 'post',
                    dataType: 'json',
                    data: {phone: phone, tag: tag},
                    success: function (result) {
                        if (result.status == 1) {
                            layer.msg(result.info, {time: 4000});
                            return false;
                        } else if (result.status == 0) {
                            layer.alert(result.info, {icon: 6});
                            return false;
                        }
                    }, error: function () {
                        layer.alert(' 小 编 抢 修 网 络 Ing...', {time: 3000});
                        return false;
                    }
                });
            }
        }

        //验证码验证统一接口
        function verifyCode(code, id, img) {
            var captcha_img = $(img);
            var verifyImg = captcha_img.attr("src");
            if (code != '' && code != null) {
                $.ajax({
                    url: verifyCode_url,
                    type: 'post',
                    dataType: 'json',
                    data: {code: code},
                    success: function (result) {
                        if (result.status == 1) {
                            return false;
                        } else if (result.status == 0) {
                            var erorr = '<div class="passport-note passport-error-text"><span>' + result.info + '</span></div>';
                            $(id).parent().addClass("has-error");
                            $(id).after(erorr);
                            $(img).attr("src", verifyImg + '&rand=' + Math.random());
                            return false;
                        }
                    }, error: function () {
                        layer.alert(' 小 编 抢 修 网 络 Ing...', {time: 3000});
                        return false;
                    }
                });
            }
        }

        //倒计时统一接口
        function countDown(id, name) {
            $(id).attr('disabled', 'true');
            $(id).addClass("disabled");
            var myVar = setInterval(function () {
                myTimer()
            }, 1000);
            var a = 0;

            function myTimer() {
                var add = 60 - a;
                var string = "<span style='color: #35B558; font-size: 14px'>" + add + "s</span>";
                document.getElementById(name).innerHTML = string;
                a++;
                if (a == 61) {
                    clearInterval(myVar);
                    $(id).removeClass("disabled");
                    $(id).attr("disabled", false);
                    document.getElementById(name).innerHTML = "重新获取";
                }
            }
        }

    });

    //点击刷新验证码统一接口
    function clickVerify(id) {
        var verifyImg = $(id).attr("src");
        $(id).attr('title', '点击刷新');
        if (verifyImg.indexOf('?') > 0) {
            $(id).attr("src", verifyImg + '&random=' + Math.random());
        } else {
            $(id).attr("src", verifyImg.replace(/\?.*$/, '') + '?' + Math.random());
        }
    }
</script>
</body>
</html>
