		<div class="page-container">
			<div class="nav-left">
				<ul>
					<li class="active"><a href="#">角色管理</a></li>
					<!-- <li class="dropdown-submenu"><a data-toggle="dropdown">保单管理</a>
						<ul class="dropdown-menu">
							<li><a href="policyManage.html">保单信息</a></li>
							<li><a href="carInfo.html">车辆信息</a></li>
							<li><a href="customerInfo.html">客户信息</a></li>
							<li><a href="paymentInfo.html">保费缴纳信息</a></li>
						</ul>
					</li> -->
					<li class="action"><a  href="claimingManage.html">理赔管理</a></li>
				</ul>
				
			</div>
			
			<div class="nav-right">
				<div class="layout_table">
					<table id="editRole" class="table table-striped table-bordered">
						<div class="role-form" id="role-form">
						<form class="form-inline" action="{:U('/admin/Role/edit_post')}" method='post'>
							<!-- <label>角色名称：</label><input class="form-control" type='text' name='role_name'>
							<label>角色描述：</label><textarea name='role_name' class="form-control"></textarea> -->
						  <ul class="tree tree-lines">
							  <li class="open"><a href="#">{$role.role_name}</a>
							    <ul>
							    	<foreach name='allAct' item='a'>
							    		<li>
								    		<div class="checkbox">
								    			<label><input type="checkbox" name='{$a.id}' value='{$a.id}' <if condition="$a.select eq '1'" >checked="checked"</if>> {$a.action_name}</label>
										  	</div>
									  	</li>
							    	</foreach>
								</ul>
							</li>
						</ul>
							<input type='hidden' value='{$role.id}' name='role_id'>
						 	<button type="submit" class="btn btn-primary">保存</button>
						</form>
					</div>
					</table>
					
				</div>
			</div>
		</div>
  <script type="text/javascript">

  
  	$('.form_date').datetimepicker({
		language : 'zh-CN',
		weekStart: 1,
	    todayBtn:  1,
	    autoclose: 1,
	    todayHighlight: 1,
	    startView: 2,
	    forceParse: 0,
	    showMeridian: 1,
	    format: "yyyy-mm-dd hh:ii",
		initialDate : new Date()
	});
    function MaxMe(o) {
      o.style.height = o.scrollTop + o.scrollHeight + "px";
    }
  </script>
