
		<div class="page-container">
			<div class="nav-left">
				<ul>
					<li class="active"><a href="{:U('admin/Role/findRole')}">角色管理</a></li>
					<li class="dropdown-submenu"><a data-toggle="dropdown">理赔管理</a>
						<ul class="dropdown-menu">
							<li><a href="/admin/record/getWaitingList?type=1">待审核</a></li>
							<li><a href="/admin/record/getWaitingList?type=2">已审核</a></li>
						</ul>
					</li>
				</ul>
				
			</div>
			
			<div class="nav-right">
				<table id="roleManage" class="table table-striped table-bordered">
					<!-- <tr>
						<th>角色名称</th>
						<th>角色描述</th>
						<th>操作</th>						
					</tr> -->
					<tbody>
						<foreach name='roleList' item='rl'>
							<tr class='text-c'>
								<td>{$rl.role_name}</td>
								<td>{$rl.remark}</td>
								<td>
									<!--<a href="{:U('/admin/Role/editRole', array('id'=>$rl['id']))}">编辑权限</a>|-->
									<a href="{:U('/admin/Role/updateRole', array('id'=>$rl['id']))}">修改</a>|<a href="{:U('/admin/Role/delRole', array('id'=>$rl['id']))}" onclick="if(confirm('确定删除?')==false)return false;">删除 </a></td>
							</tr>						
						</foreach>
					</tbody>
				</table>
			</div>
		</div>
	
  <script type="text/javascript">
  //点击上传图片并且显示图片
  function pictrue(){
  	var li_add=$("#survey_ul li").last();
  	var add_content='<li href="../img/back.png" data-toggle="lightbox" data-group="image-group-1">'+
  					'<img src="../img/back.png" class="img-rounded" />'+
  					'</li>';
  	$(add_content).insertAfter(li_add);
  }
  //点击删除图片
  function delImg(d){
  	$(d).parent().remove();
  }
  
  	$('.form_date').datetimepicker({
		language : 'zh-CN',
		weekStart: 1,
	    todayBtn:  1,
	    autoclose: 1,
	    todayHighlight: 1,
	    startView: 2,
	    forceParse: 0,
	    showMeridian: 1,
	    format: "yyyy-mm-dd hh:ii",
		initialDate : new Date()
	});
    function MaxMe(o) {
      o.style.height = o.scrollTop + o.scrollHeight + "px";
    }
  </script>

