<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>个人中心</title>
		<link rel="stylesheet" href="__PUBLIC__/css/zui.css">
		<link rel="stylesheet" href="__PUBLIC__/css/jquery.dataTables.css">
		<link rel="stylesheet" href="__PUBLIC__/css/bootstrap-datetimepicker.css">
		<link rel="stylesheet" href="__PUBLIC__/css/common.css">
	</head>
	<body style="background: #e9ecf3;">
		<div class="header">
			<p class="logo"><img src="__PUBLIC__/img/back.png" />车险理赔系统</p>
			<a class="pull-right user">曾曼丽 <img src="__PUBLIC__/img/back.png" /></a>
		</div>
		<div class="page-container">
			<div class="nav-left">
				<ul>
					<li><a href="home.html">角色管理</a></li>
					<li class="dropdown-submenu"><a data-toggle="dropdown">保单管理</a>
						<ul class="dropdown-menu">
							<li><a href="policyManage.html">保单信息</a></li>
							<li><a href="carInfo.html">车辆信息</a></li>
							<li><a href="customerInfo.html">客户信息</a></li>
							<li><a href="paymentInfo.html">保费缴纳信息</a></li>
						</ul>
					</li>
					<li class="action"><a  href="claimingManage.html">理赔管理</a></li>
				</ul>
			</div>
			<div class="nav-right">
			      <table id="Flook_claim" class="table table-striped table-bordered"></table>
			</div>
		</div>
		
		<script type='text/javascript' src='__PUBLIC__/js/jquery.js' charset='utf-8'></script>
		<script type='text/javascript' src='__PUBLIC__/js/zui.min.js' charset='utf-8'></script>
		<script type='text/javascript' src="__PUBLIC__/js/bootstrap-datetimepicker.js"></script>
		<script type='text/javascript' src="__PUBLIC__/js/bootstrap-datetimepicker.zh-CN.js"></script>
  		<script src="__PUBLIC__/js/jquery.dataTables.js"></script> 
		<script type='text/javascript' src='__PUBLIC__/js/datatable.js' charset='utf-8'></script>
                <script type="text/javascript">
                  var Flook_claimsSet = {$recordList};
                  console.log(Flook_claimsSet);
                  
  </script>
	</body>
</html>
