<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>个人中心</title>
		<link rel="stylesheet" href="{$Think.ADMIN_PUB_PATH}/css/zui.css">
		<link rel="stylesheet" href="{$Think.ADMIN_PUB_PATH}/css/jquery.dataTables.css">
		<link rel="stylesheet" href="{$Think.ADMIN_PUB_PATH}/css/bootstrap-datetimepicker.css">
		<link rel="stylesheet" href="{$Think.ADMIN_PUB_PATH}/css/common.css">
	</head>
	<body style="background: #e9ecf3;">
		<div class="header">
			<p class="logo"><img src="{$Think.ADMIN_PUB_PATH}/img/back.png" />车险理赔系统</p>
			<a class="pull-right user">{$user.username}  <img src="{$Think.ADMIN_PUB_PATH}/img/back.png" /></a>
		</div>
		<div class="page-container">
			<div class="nav-left">
				<ul>
					<li><a href="home.html">角色管理</a></li>
					<!-- <li class="dropdown-submenu"><a data-toggle="dropdown">保单管理</a>
						<ul class="dropdown-menu">
							<li><a href="policyManage.html">保单信息</a></li>
							<li><a href="carInfo.html">车辆信息</a></li>
							<li><a href="customerInfo.html">客户信息</a></li>
							<li><a href="paymentInfo.html">保费缴纳信息</a></li>
						</ul>
					</li> -->
										<li class="dropdown-submenu"><a data-toggle="dropdown">理赔管理</a>
						<ul class="dropdown-menu">
							<li><a href="{:U('/admin/record/getWaitingList',array('type' => '1')}">待审核</a></li>
							<li><a href="{:U('/admin/record/getWaitingList',array('type' => '2')}">已审核</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="nav-right">
			      	<a class="save"  href="JavaScript:history.go(-1);"><<返回</a>
			      <div class="insurance_register">
			      	<table class="table-bordered" id="claimsTerm">
			      		<tr><td colspan="2"><strong>理赔情况</strong> </td></tr>
			      		<tr>
			      			<td  style="width: 900px;">
			      				<p style="border-bottom: 1px solid #CCCCCC;padding-bottom: 10px;margin: 0 10px;">基本信息<span></span>：</p>
			      				<textarea  onpropertychange="MaxMe(this)" oninput="MaxMe(this)" style="padding: 0 10px;overflow:hidden; min-height: 150px;"></textarea> 
<!--			      				<p style="text-align: right;">理赔金额：<input value="2000" class="pull-right" style="width: 80px;"/></p>-->
			      			</td>
			      		</tr>
			      		<tr>
			      			<td  style="width: 900px;">
			      				<p style="border-bottom: 1px solid #CCCCCC;padding-bottom: 10px;margin: 0 10px;">理赔报价<span></span>：</p>
			      				<textarea  class="d_amount" onpropertychange="MaxMe(this)" oninput="MaxMe(this)" style="padding: 0 10px;overflow:hidden; min-height: 150px;">{$info.amount}</textarea> 
<!--			      				<p style="text-align: right;">理赔金额：<input value="2000" class="pull-right" style="width: 80px;"/></p>-->
			      			</td>
			      		</tr>
			      		<tr>
			      			<td  style="width: 900px;">
			      				<p style="border-bottom: 1px solid #CCCCCC;padding-bottom: 10px;margin: 0 10px;">经理建议：</p>
			      				<textarea  class="d_remark" onpropertychange="MaxMe(this)" oninput="MaxMe(this)" style="padding: 0 10px;overflow:hidden; min-height: 150px;">{$info.remark}</textarea> 
<!--			      				<p style="text-align: right;">理赔总金额：<input value="{$info.amount}" class="pull-right" style="width: 80px;"/></p>-->
			      			</td>
			      		</tr>
			      	</table>
			      	<div class="register_btn">
                                        <input type="hidden" value="{$id}" name="id">
                                        <input type="hidden" value="{$info.uid}" name="uid">
                                        <input type="hidden" value="{$info.finance_uid}" name="finance_uid">
                                        <input type="hidden" value="{$info.record_sn}" name="record_sn">
                                        <if condition="$info['is_pass'] eq 1">
			      		<a class="save d_btn" data-value="3">审核通过</a>
			      		<a class="save d_btn" data-value="2">审核不通过</a>
                                        <elseif condition='$info["is_pass"] eq 2'/>
                                        审核不通过
                                        <else/>
                                        审核通过
                                        </if>
			      	</div>
			      </div>
			</div>
		</div>
<!-- 对话框HTML -->
<div class="modal fade" id="tip_modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
        <h4 class="modal-title">支付提示</h4>
      </div>
      <div class="tip-content">
	  	<p>是否支付</p>
	  	<div class="pair_btn">
	  	<a class="no" data-dismiss="modal">否</a>
	  	<a class="yes" onclick="sure()">是</a>
	  	</div>
	  </div>
    </div>
  </div>
</div>	
		
		
		
		<script type='text/javascript' src='{$Think.ADMIN_PUB_PATH}/js/jquery.js' charset='utf-8'></script>
		<script type='text/javascript' src='{$Think.ADMIN_PUB_PATH}/js/zui.min.js' charset='utf-8'></script>
		<script type='text/javascript' src="{$Think.ADMIN_PUB_PATH}/js/bootstrap-datetimepicker.js"></script>
		<script type='text/javascript' src="{$Think.ADMIN_PUB_PATH}/js/bootstrap-datetimepicker.zh-CN.js"></script>
  		<script src="{$Think.ADMIN_PUB_PATH}/js/jquery.dataTables.js"></script> 
		<script type='text/javascript' src='{$Think.ADMIN_PUB_PATH}/js/datatable.js' charset='utf-8'></script>
  <script type="text/javascript">
      $(".d_btn").click(function(){
         var value = $(this).attr("data-value"); 
         var id = $('input[name=id]').val();
         console.log($(".d_remark").val());
         $.ajax({
            url : "/admin/record/lookVerifyClaims",
            data : { 
                id:id,
                uid:$("input[name=uid]").val(),
                finance_id: $("input[name=finance_id]").val(),
                record_sn: $("input[name=record_sn]").val(),
                value:value,
                amount:$(".d_amount").val(),
                remark:$(".d_remark").val(),
                
            },
            dataType : "json",
            type:"post",
            success : function(res){
                if(res.content==1){
                    
                }
                else{
                    alert(res.content);
                    window.location.reload();
                }
            }
         });
      });
function pay(p){
	$("#tip_modal").modal('show');
}
function sure(){
	$("#tip_modal").modal('hide');
	document.getElementById("pay").text('已支付');
}
  	$('.form_date').datetimepicker({
		language : 'zh-CN',
		weekStart: 1,
	    todayBtn:  1,
	    autoclose: 1,
	    todayHighlight: 1,
	    startView: 2,
	    forceParse: 0,
	    showMeridian: 1,
	    format: "yyyy-mm-dd hh:ii",
		initialDate : new Date()
	});
    function MaxMe(o) {
      o.style.height = o.scrollTop + o.scrollHeight + "px";
    }
  </script>
	</body>
</html>
